body {
    background-color:rgb(45, 11, 73);
    color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgb(97, 40, 254);
}
.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    text-align: center;
}

label {
    font-weight: bold;
}

.characterAmountDiv {
    display: flex;
    align-items: center;
}

.passwordDisplay {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid black;
    height: 2rem;
    width: 20rem;
    word-break: break-all;
}

.passwordButton {
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    min-height: 3vh;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
}

.passwordButton:hover {
    background-color: rgba(255, 255, 255, 0.115);
}
